h1 {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-size: 40px;
  color: white;
  font-weight: bold;
  padding: 10px;
}

img {
  width: 300px;
  height: 200px;
  margin-left: 5%;
  border-style: solid;
  border-width: 2px;
  border-radius: 10%;
}

.title {
  clear: both;
}

p {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-size: 20px;
  color: white;
  font-weight: normal;
  padding: 10px;
  padding-bottom: 25px;
}

img:hover{
  opacity: 0.5;
}
