h1 {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-size: 40px;
  color: white;
  font-weight: bold;
  padding: 10px;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding: 10px;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 10px;
}

li {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-size: 20px;
  color: white;
  font-weight: normal;
  padding: 10px;
}

p {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-size: 20px;
  color: white;
  font-weight: normal;
  padding: 10px;
}

.title img {
  padding: 25px;
  height:500px;
  width: 450px;
  border: 1px hidden black;
  border-radius: 50px;
}

table {
  text-align: left;
}

.title{
  clear: both;
}
